@use "../abstract/index" as *;

.btn {
  display: inline-block;
  font-weight: 500;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  text-align: center;
  margin-top: 2rem;
  text-transform: capitalize;
  transition: 0.4s linear;

  @include rwd(576) { font-size: 15px;}
}
