@use "../abstract/index" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
}

body {
  color: $primary-color;
  font-family: $text-font;

  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.4;

  @include rwd(576){ font-size: 85%; }
}

ul{ list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6 { font-family: $headings-font; }

a {
  color: $primary-color;

  transition: 0.4s linear;

  &:focus-visible {
    text-decoration: underline;
    outline: 1px dashed $secondary-color;
  }
  
  &:hover { color: $secondary-color; }
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section { padding: 90px 0; }

textarea,
button { font-family: $text-font; }
