@use "../abstract/index" as *;

.about {
  text-align: center;
  background-color: #414131;
  position: relative;

  &__heading {
    text-transform: uppercase;
    font-size: clamp(3rem, 6vw, 6rem);
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white-color;
  }

  &__text {
    color: $white-color;
    line-height: 1.8;
    max-width: 80%;
    margin: auto;
    font-size: 1.2rem;
    position: relative;
    z-index: 2;

    @include rwd(768) {
      font-size: 1rem;
    }
  }

  &__btn {
    @include btn($primary-color);
  }

  &__img {
    position: absolute;
    left: -100px;
    bottom: 0;
    opacity: 0.5;

    @include rwd(992) {
      display: none;
    }
  }
}
