@use "../abstract/index" as *;

.contact {
  background-color: $tertiary-color;

  &__header {
    width: 80%;
    margin: 0 auto 3rem;
  }

  &__title { color: $primary-color; }

  &__subtitle { color: $primary-color; }

  &__form {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: auto;
    row-gap: 1rem;

    @include rwd(1200) { width: 70%; }
    @include rwd(576) { width: 90%; }

    textarea { height: 100px; }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @include rwd(768) { flex-direction: column; }
  }

  .form-control {
    width: 100%;
    display: block;
    padding: 1rem;
    border-radius: 10px;

    &::placeholder { font-size: 1rem; }
  }

  &__submit { @include btn($primary-color, $primary-color, $primary-color); }

}
