@use "../abstract/index" as *;

.contact {
  background-color: $primary-color;

  &__header {
    width: 80%;
    margin: 0 auto 3rem;
  }

  &__title {
    color: $secondary-color;
  }

  &__subtitle {
    color: $white-color;
  }

  &__wrapper {
    width: 45%;
    margin: auto;

    @include rwd(1200) {
      width: 70%;
    }

    @include rwd(576) {
      width: 90%;
    }
  }

  &__form {
    @include flex(flex-start, stretch, column);
    row-gap: 1rem;

    textarea {
      resize: none;
      height: 100px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;

    @include rwd(768) {
      row-gap: 1rem;
      flex-direction: column;
    }

    input {
      flex: 0 0 48%;
    }
  }

  &__submit {
    @include btn(
      transparent,
      $white-color,
      $white-color,
      $secondary-color,
      $white-color
    );
    align-self: center;
  }

  .form-control {
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;

    &::placeholder {
      font-size: 1rem;
    }
  }
}
