@use "../abstract/index" as *;

.gallery {

  &__subtitle { color: $black-color; }

  &__wrapper {
    @include flex(space-between, stretch, wrap);
    row-gap: 1.5rem;
    margin-top: 2rem;
  }

  &__item {
    flex: 0 0 24%;
    max-height: 400px;
    height: 400px;

    @include rwd(1200) { flex: 0 0 48%; }
    @include rwd(768) { flex: 0 0 100%;}
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}
