@use "../abstract/index" as *;

.hero {
  background-color: $primary-color;

  @include rwd(1200) { padding: 50px 0; }

  &__wrapper { @include flex(center, flex-start, column); }

  &__heading,
  &__text { color: $white-color; }

  &__heading {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    line-height: 1.2;

    @include rwd(992) { font-size: 2.5rem; }
    @include rwd(768) { font-size: 2rem; }
  }

  &__text {
    font-size: 1.2rem;
    @include rwd(768) { font-size: 1rem; }

    span{ font-weight: bold; }

    &:nth-child(3){ margin-top: 1rem;}
  }

  &__btn { @include btn(transparent); }
}
