@use "../abstract/index" as *;

.nav {
  padding: 1rem 0;
  position: relative;

  &__wrapper { 
    @include flex(space-between, center);
   }

  &__logo {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }

  &__heading {
    text-transform: capitalize;
    font-size: clamp(1.2rem, 5vw, 2.5rem);
  }

  &__list {
    display: flex;
    gap: 1rem;

    @include rwd(1200) {
      @include position(absolute, 100%, auto, auto, 0, 100%);
      background-color: $white-color;

      transition: 0.4s linear;
      padding: 2rem 10%;
      flex-direction: column;
      align-items: flex-start;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    &.active { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  }

  &__link {

    &:hover::after {
      width: 100%;
      transition: 0.4s width linear;
    }

    &::after {
      background-color: $primary-color;

      display: block;
      width: 0%;
      height: 1px;
      content: "";
    }
  }

  &__hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;

    @include rwd(1200) { display: block; }
    @include rwd(400) { font-size: 1.5rem; }
  }
}
