@use "../abstract/index" as *;

.numbers {
  background-color: #e7dbcf;
  padding: 40px 0;

  &__wrapper {
    @include flex(space-between, center, wrap);

    @include rwd(768) {
      row-gap: 1rem;
    }
  }

  &__item {
    flex: 1;
    text-align: center;

    @include rwd(768) {
      flex: 0 0 47%;
    }
  }

  &__number {
    color: $black-color;
    font-size: clamp(2rem, 5vw, 3rem);
  }

  &__text {
    text-transform: uppercase;
    font-weight: 600;
  }
}
