@use "../abstract/index" as *;

.numbers {
  background-color: $primary-color;
  color: $white-color;

  padding: 40px 0;

  &__wrapper {
    @include flex(space-between, stretch, wrap);
    row-gap: 2rem;
  }

  &__item {
    flex: 1;
    text-align: center;

    @include rwd(1200) { flex: 0 0 47%; }
    @include rwd(768) { flex: 0 0 100%; }
  }

  &__number {
    font-weight: 700;
    font-size: clamp(2rem, 5vw, 3rem);
  }

  &__text {
    text-transform: uppercase;
    font-weight: 600;
  }
}
