@use "../abstract/index" as *;

.top-nav {
  @include flex(space-between, center);
  
  background-color: #f2f5f9;
  padding: 0.5rem 10%;

  @include rwd(992) { display: none; }

  &__link {
    font-size: 0.9rem;

    .fa-solid{ margin-right: 0.5rem; }
  }

  &__link--location {
    padding-right: 0.5rem;
    border-right: 1.5px solid $primary-color;
  }

  &__link--email { padding-left: 0.5rem; }

  .fa-brands{
    &:not(:last-child){ margin-right: 0.5rem;}
  }
}
