*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
}

body {
  color: #225140;
  font-family: "Roboto", serif;
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.4;
}
@media (max-width: 576px) {
  body {
    font-size: 85%;
  }
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", serif;
}

a {
  color: #225140;
  transition: 0.4s linear;
}
a:focus-visible {
  text-decoration: underline;
  outline: 1px dashed #e2b02b;
}
a:hover {
  color: #e2b02b;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section {
  padding: 90px 0;
}

textarea,
button {
  font-family: "Roboto", serif;
}

.container {
  width: 80%;
  margin: auto;
}
@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

.logo {
  width: 50px;
  height: 70px;
}

[class$=__header] {
  text-align: center;
  margin-bottom: 3rem;
}
[class$=__header] [class$=__title] {
  text-transform: uppercase;
  font-size: 1.3rem;
}
[class$=__header] [class$=__subtitle] {
  font-size: clamp(1.8rem, 5vw, 2.5rem);
  font-weight: 700;
}

.arrow__up {
  position: fixed;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  width: auto;
  height: auto;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #e2b02b;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  z-index: 1000;
  transform: translateX(100px);
  transition: 0.4s linear;
  cursor: pointer;
}
.arrow__up:hover {
  color: #e2b02b;
  background: transparent;
  border: 2px solid #e2b02b;
}
.arrow__up.active {
  transition: 0.4s linear;
  transform: translateX(0);
}

.btn {
  display: inline-block;
  font-weight: 500;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  text-align: center;
  margin-top: 2rem;
  text-transform: capitalize;
  transition: 0.4s linear;
}
@media (max-width: 576px) {
  .btn {
    font-size: 15px;
  }
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  background-color: #f2f5f9;
  padding: 0.5rem 10%;
}
@media (max-width: 992px) {
  .top-nav {
    display: none;
  }
}
.top-nav__link {
  font-size: 0.9rem;
}
.top-nav__link .fa-solid {
  margin-right: 0.5rem;
}
.top-nav__link--location {
  padding-right: 0.5rem;
  border-right: 1.5px solid #225140;
}
.top-nav__link--email {
  padding-left: 0.5rem;
}
.top-nav .fa-brands:not(:last-child) {
  margin-right: 0.5rem;
}

.nav {
  padding: 1rem 0;
  position: relative;
}
.nav.scrolled {
  background-color: #fff;
  border-bottom: 2px solid #225140;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
}
.nav__logo {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.nav__heading {
  text-transform: capitalize;
  font-size: clamp(1.2rem, 5vw, 2.5rem);
}
.nav__list {
  display: flex;
  gap: 1rem;
}
@media (max-width: 1200px) {
  .nav__list {
    position: absolute;
    top: 100%;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    transition: 0.4s linear;
    padding: 2rem 10%;
    flex-direction: column;
    align-items: flex-start;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}
.nav__list.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav__link:hover::after {
  width: 100%;
  transition: 0.4s width linear;
}
.nav__link::after {
  background-color: #225140;
  display: block;
  width: 0%;
  height: 1px;
  content: "";
}
.nav__hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .nav__hamburger {
    display: block;
  }
}
@media (max-width: 400px) {
  .nav__hamburger {
    font-size: 1.5rem;
  }
}

.hero {
  background-color: #225140;
}
@media (max-width: 1200px) {
  .hero {
    padding: 50px 0;
  }
}
.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  gap: 0;
}
.hero__heading, .hero__text {
  color: #fff;
}
.hero__heading {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  line-height: 1.2;
}
@media (max-width: 992px) {
  .hero__heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .hero__heading {
    font-size: 2rem;
  }
}
.hero__text {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .hero__text {
    font-size: 1rem;
  }
}
.hero__text span {
  font-weight: bold;
}
.hero__text:nth-child(3) {
  margin-top: 1rem;
}
.hero__btn {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.hero__btn:hover {
  background-color: #fff;
  color: #225140;
}

.about__heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.about__list {
  padding-left: 3rem;
  list-style-type: square;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
@media (max-width: 576px) {
  .about__list {
    padding-left: 1.5rem;
  }
}
.about__list li {
  line-height: 1.6;
  font-size: 1.1rem;
}
.about__underline {
  text-decoration: underline;
  font-size: 1.1rem;
}
.about__bold {
  font-weight: 700;
  font-size: 1.1rem;
}
.about__text {
  color: #225140;
  line-height: 1.8;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .about__text {
    font-size: 1rem;
  }
}
.about__btn {
  background-color: #225140;
  color: #fff;
  border-color: #225140;
}
.about__btn:hover {
  background-color: transparent;
  border-color: #225140;
  color: #225140;
}

.numbers {
  background-color: #225140;
  color: #fff;
  padding: 40px 0;
}
.numbers__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  row-gap: 2rem;
}
.numbers__item {
  flex: 1;
  text-align: center;
}
@media (max-width: 1200px) {
  .numbers__item {
    flex: 0 0 47%;
  }
}
@media (max-width: 768px) {
  .numbers__item {
    flex: 0 0 100%;
  }
}
.numbers__number {
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 3rem);
}
.numbers__text {
  text-transform: uppercase;
  font-weight: 600;
}

.services {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  gap: 0;
}
.services__subtitle {
  color: #000;
}
.services__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  row-gap: 3rem;
}
.services__item {
  flex: 0 0 47%;
  padding: 2rem;
  border: 2px solid #e7dbcf;
  position: relative;
}
@media (max-width: 1200px) {
  .services__item {
    flex: 0 0 100%;
  }
}
.services__item:hover::after {
  width: 100%;
  transition: 0.4s width linear;
}
.services__item::after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #225140;
  height: 5px;
  display: block;
  content: "";
}
.services__item--primary {
  background-color: #225140;
  color: #fff;
}
.services__item--primary:hover::after {
  background-color: #e2b02b;
}
.services__item--primary .services__text {
  color: #fff;
}
.services__number {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3rem;
  font-weight: 700;
}
.services__name {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  max-width: 90%;
}
.services__text {
  color: #000;
  font-size: 0.9rem;
}
.services__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
.services__list li {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.services__list .fa-solid {
  color: #e2b02b;
}
.services__btn {
  background-color: #225140;
  color: #fff;
  border-color: #225140;
}
.services__btn:hover {
  background-color: transparent;
  border-color: #225140;
  color: #225140;
}

.cta {
  background-color: #225140;
  color: #fff;
  text-align: center;
}
.cta__heading {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  letter-spacing: 1.5px;
  font-weight: 900;
  max-width: 750px;
  margin: auto;
}
.cta__text {
  margin-top: 1rem;
  line-height: 1.6;
  max-width: 750px;
  margin: 1rem auto 0;
}
.cta__button {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.cta__button:hover {
  background-color: #fff;
  color: #225140;
}

.testimonial {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 0;
  background: #414131;
  position: relative;
  padding: 60px 0;
}
.testimonial__header {
  color: #fff;
}
.testimonial__wrapper {
  margin: auto;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 992px) {
  .testimonial__wrapper {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .testimonial__wrapper {
    width: 90%;
  }
}
.testimonial__slides {
  display: flex;
  transition: transform 0.4s linear;
}
.testimonial__item {
  color: #fff;
  min-width: 100%;
}
.testimonial img {
  height: 450px;
}
.testimonial__controls {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.testimonial__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #e2b02b;
  color: #fff;
  background: transparent;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.4s linear;
}
.testimonial__btn:hover {
  background-color: #e2b02b;
}
.testimonial__quote {
  color: #e2b02b;
  position: absolute;
  font-size: 5rem;
  top: 50px;
}
@media (max-width: 576px) {
  .testimonial__quote {
    display: none;
  }
}
.testimonial__quote.fa-quote-left {
  left: 50px;
}
.testimonial__quote.fa-quote-right {
  right: 50px;
}

.faq__header {
  padding: 0 2rem;
}
.faq__subtitle {
  color: #000;
}
.faq__wrapper {
  width: 60%;
  margin: auto;
}
@media (max-width: 992px) {
  .faq__wrapper {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .faq__wrapper {
    width: 90%;
  }
}
.faq__item {
  border: 1px solid #e7dbcf;
  padding: 2rem;
  cursor: pointer;
}
@media (max-width: 576px) {
  .faq__item {
    padding: 1.5rem;
  }
}
.faq__item.active {
  background-color: #225140;
  color: #fff;
}
.faq__item.active .faq__name {
  color: #fff;
}
.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  gap: 1rem;
}
.faq__question .fa-solid {
  transition: 0.4s linear;
}
.faq__question .fa-solid.active {
  transform: rotate(180deg);
}
.faq__name {
  color: #000;
  font-size: 1.3rem;
  font-weight: 500;
}
@media (max-width: 576px) {
  .faq__name {
    font-size: 1rem;
  }
}
.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s linear;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.7;
}
.faq__answer.active {
  max-height: 200px;
  margin-top: 1rem;
}
.faq__link {
  color: #e2b02b;
  text-decoration: underline;
  font-weight: 500;
}

.contact {
  background-color: #e7dbcf;
}
.contact__header {
  width: 80%;
  margin: 0 auto 3rem;
}
.contact__title {
  color: #225140;
}
.contact__subtitle {
  color: #225140;
}
.contact__form {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: auto;
  row-gap: 1rem;
}
@media (max-width: 1200px) {
  .contact__form {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .contact__form {
    width: 90%;
  }
}
.contact__form textarea {
  height: 100px;
}
.contact__box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 768px) {
  .contact__box {
    flex-direction: column;
  }
}
.contact .form-control {
  width: 100%;
  display: block;
  padding: 1rem;
  border-radius: 10px;
}
.contact .form-control::placeholder {
  font-size: 1rem;
}
.contact__submit {
  background-color: #225140;
  color: #fff;
  border-color: #225140;
}
.contact__submit:hover {
  background-color: transparent;
  border-color: #225140;
  color: #225140;
}

.gallery__subtitle {
  color: #000;
}
.gallery__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  row-gap: 1.5rem;
  margin-top: 2rem;
}
.gallery__item {
  flex: 0 0 24%;
  max-height: 400px;
  height: 400px;
}
@media (max-width: 1200px) {
  .gallery__item {
    flex: 0 0 48%;
  }
}
@media (max-width: 768px) {
  .gallery__item {
    flex: 0 0 100%;
  }
}
.gallery__img {
  height: 100%;
  width: 100%;
}

.footer {
  background-color: #225140;
  padding-top: 70px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .footer__wrapper {
    row-gap: 2rem;
  }
}
.footer__item {
  flex: 0 0 30%;
}
@media (max-width: 1200px) {
  .footer__item {
    flex: 0 0 48%;
  }
}
@media (max-width: 768px) {
  .footer__item {
    flex: 0 0 100%;
  }
}
.footer__logo {
  color: #fff;
  font-size: 1.2rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.footer__text {
  color: #fff;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
@media (max-width: 576px) {
  .footer__text {
    font-size: 0.9rem;
    line-height: 1.4;
  }
}
.footer__social {
  display: flex;
  gap: 1rem;
}
.footer__icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  color: #225140;
  font-size: 1rem;
  text-align: center;
}
.footer__icon:hover {
  background-color: #e2b02b;
  color: #fff;
}
.footer__heading {
  color: #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.footer__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: column;
  gap: 1rem;
}
.footer__Link {
  color: #fff;
  text-transform: capitalize;
}
.footer__Link span {
  margin-right: 0.3rem;
}
.footer__form {
  position: relative;
}
.footer__input {
  color: #000;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
}
.footer__input::placeholder {
  font-size: 1rem;
}
.footer__btn {
  background-color: #225140;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 0.7rem 0;
  border-radius: 10px;
  width: 80px;
  cursor: pointer;
  transition: 0.4s linear;
}
.footer__btn:hover {
  color: #225140;
  background: transparent;
  border: 1px solid #225140;
}
.footer__bottom {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 50px 0;
}
@media (max-width: 576px) {
  .footer__bottom {
    display: none;
  }
}
.footer__bottom span {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  background: #e2b02b;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
.footer__email {
  color: #fff;
  font-size: clamp(1rem, 5vw, 2rem);
}
.footer__copyright {
  color: #fff;
  border-top: 1px solid #e7dbcf;
  padding: 1rem 0;
  text-align: center;
}
.footer__copyright a {
  color: #fff;
}
.footer__copyright a:hover {
  color: #e2b02b;
}

/*# sourceMappingURL=main.css.map */
