@use "../abstract/variables" as *;

@mixin flex($justify: flex-start, $align: stretch, $flow: row nowrap, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-flow: $flow;
  gap: $gap;
}

@mixin positioning(
  $position: absolute,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $width: auto,
  $height: auto
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;

  @if ($left == 50% and $top == 50%) {
    transform: translate(-50%, -50%);
  } @else if($top == 50%) {
    transform: translateY(-50%);
  } @else if($left == 50%) {
    transform: translateX(-50%);
  } @else if($right == 50%) {
    transform: translateX(-50%);
  }
}

@mixin btn(
  $bg: $primary-color,
  $border-hover: $white-color,
  $color-hover: $white-color
) {
  background-color: $bg;
  color: $white-color;

  @if ($bg == transparent) {
    border-color: $white-color;

    &:hover {
      background-color: $white-color;
      color: $primary-color;
    }
  } @else if ($bg == $primary-color) {
    border-color: $primary-color;

    &:hover {
      background-color: transparent;
      border-color: $border-hover;
      color: $color-hover;
    }
  } @else {
    @content;
  }
}

@mixin rwd($pixels, $type: max) {
  @media (#{$type}-width: #{$pixels}px) {
    @content;
  }
}

@mixin icons(
  $units: 40px,
  $border-radius: 50%,
  $bg: $white-color,
  $color: $primary-color,
  $font-size: 1rem
) {
  width: $units;
  height: $units;
  line-height: $units;
  border-radius: $border-radius;
  background: $bg;
  color: $color;
  font-size: $font-size;
  text-align: center;
}
