// Colors
$primary-color: #225140;
$secondary-color: #e2b02b;
$tertiary-color: #e7dbcf;
$white-color: #fff;
$black-color: #000;

// Fonts
$headings-font: "DM Sans", serif;
$text-font: "Roboto", serif;
